.divLoading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.loader {
  border-radius: 50%;
  border: 4px solid #395967;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spinnerLoad 1s linear infinite;
}

@keyframes spinnerLoad {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}