.container-text{
  position: relative;
  text-align: center;
  color: white;
}

.container-text img{
  filter: brightness(0.6);
}

.titleAlbum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 20px;
  letter-spacing: 1px;
}

.galleryGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  margin: 5rem;
}
  
.galleryGrid img{
  width: 100%;
  height: auto;
}
  
@media (max-width: 1000px) {
  .galleryGrid{
    column-count: 2;
    padding: 0 12px;
  }
}
  
@media (max-width: 767px) {
  .galleryGrid{
    column-count: 1;
    margin: 2rem;
  }
  .hiddenTxt{
    display: none;
  }
}